<div class="comment-body">
    {% if comment.disabled %}
    <p><i>This comment has been disabled by a moderator</i></p>
    {% endif %}
    {% if moderage or not comment.disabled %}
        {% if commnet.body_html %}
            {{ comemnt.body_html | safe }}
        {% else %}
            {{ comment.body }}
        {% endif %}
    {% endif %}
</div>
{% if moderate %}
    <br>
    {% if comment.disabled %}
        <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable',
                id=comment.id, page=page) }}">Enable</a>
    {% else %}
        <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_disable',
                id=comment.id, page=page) }}"></a>
    {% endif %}
{% endif %}